.icon-div-product {
    width: 100%;
    height: 120px;
    background-color: #ED6B5A;
    display: flex;
    flex-direction: row;
}

.nav-bar-title-bin {
    width: 100%;
}

.logo-cont-two {
    width: 340px;
    height: 120px;
    background-color: #D34735;
    display: flex;
    text-decoration: none;
    align-items: center;
}

.shelf-link-back {
    text-decoration: none;
}

.bin-nav-title-for-product-page {
    padding: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 bold;
    text-decoration: none;
}

.product-parent {
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.image-container {
    width: 322px;
    height: 300px;
}

.product-image {
    width: 240px;
    height: 240px;
    margin-top: 20px;
}

.product-name-price {
    width: 70%;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name-price-headers {
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
}

.info-containers {
    width: 30em;
    height: 110px;
    /* margin-left: 40px; */
    border: 1px solid #ffb8af;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
}

.container-text {
    width: 590px;
    height: 68px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 10px;
    /* text-align: left; */
    border: none;
    background-color: white;
}

.button-containers-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-container {
    width: 30em;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.edit-button {
    width: 6em;
    height: 60px;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.edit-button-two {
    width: 6em;
    height: 60px;
    background-color: #40F99B;
    border: none;
    border-radius: 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.delete-button {
    width: 6em;
    height: 60px;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
}